.scrollable-panel {
    height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Hide scrollbar for IE/Edge */
    scrollbar-width: none;     /* Hide scrollbar for Firefox */
}

/* Optional: Show scrollbar on hover */
.scrollable-panel:hover {
    scrollbar-width: thin;
}

.scrollable-panel::-webkit-scrollbar {
    width: 6px;
}

.scrollable-panel::-webkit-scrollbar-thumb {
    background: #d1eeee;
    border-radius: 10px;
}

.product-preview-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.product-preview-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.08) !important;
}
